@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Lexend', sans-serif;
}

body {
  @apply bg-background text-on-background antialiased;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
